#parent-div{
  background: #b2beb5;
  border: 0.1em solid black;
}

#default{
  background: pink;
}

#centered{
  background: red;
  width: 50%;
  margin: auto;
}

#top-left-position{
  background: #89cff0;
  border: 0.1em solid black;
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 4;
}

#bottom-right-tl-parent{
  background: #bde9f4;
  position: absolute;
}